* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.shade {
  background-image: linear-gradient(to bottom, #000, transparent);
  max-width: 50%;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.heading {
  padding: 1rem;
  height: 200px;
  border-bottom: 8px solid #222;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow-x: hidden;
}

.heading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/5.jpg") no-repeat center center/cover;
  z-index: -1;
}

.heading h2 {
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 2rem;
  color: #c0c0c0;
}

.heading p {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  color: #999;
}

.flexer {
  display: flex;
  width: 100%;
  border-bottom: 8px solid #222;
  background-color: #000;
  overflow-x: hidden;
}

.left {
  width: 25%;
  position: relative;
}

.middle {
  width: 50%;
  padding: 2rem;
  position: relative;
  text-align: justify;
}

.middle h3 {
  text-align: center;
  padding: 1rem;
  color: #c0c0c0;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 1.5rem;
}

.middle p {
  letter-spacing: 0.5px;
  word-spacing: 1.2px;
  line-height: 1.3rem;
  color: #999;
}

.middle:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.right {
  width: 25%;
  position: relative;
}

.boxer {
  width: 90%;
  height: 200px;
  position: absolute;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
  background-color: #333;
}

.boxer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  border: 5px solid #222;
}

.boxer:hover {
  opacity: 0.8;
  cursor: pointer;
}

.box1 {
  top: 150px;
  left: -300px;
  transform: translateX(-50%);
}

.box2 {
  top: 150px;
  right: -300px;
  transform: translateX(50%);
}

.box3 {
  top: 450px;
  left: -300px;
  transform: translateX(-50%);
}

.box4 {
  top: 450px;
  right: -300px;
  transform: translateX(50%);
}

.box5 {
  top: 750px;
  left: -300px;
  transform: translateX(-50%);
}

.box6 {
  top: 750px;
  right: -300px;
  transform: translateX(50%);
}

.mode {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: darkcyan;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #333;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  transition: 0.2s;
}

.mode:hover {
  transform: scale(1.05);
}

.mode:active {
  transform: scale(1);
}

@media (max-width: 750px) {
  .heading h2 {
    font-size: 1.5rem;
  }
  .heading p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .flexer .middle h3 {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .flexer .middle p {
    font-size: 0.8rem;
    letter-spacing: 0;
    word-spacing: 1px;
  }
}

@media (max-width: 550px) {
  .heading h2 {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .heading p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .flexer .middle h3 {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .flexer .middle p {
    font-size: 0.8rem;
    letter-spacing: 0;
    word-spacing: 1px;
  }
}
