$nav-text-color:rgba(250,250,250,0.8);
$overlay-color:rgba(20,20,20,0.4);
$overlay-dark-color:rgba(20,20,20,0.6);
$nav-dark-color:rgba(50,50,50,0.8);
$border-color:rgba(200,200,200,0.7);
$text-color:rgba(200,200,200,0.8);

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Roboto',sans-serif;
    box-sizing:border-box;
    line-height:1.4;
}

